<div class="filters-wrapper">
    <ul class="filters">
        {% for letter, group in ctx["tags"]|groupbyletter %}
            {% set outer_loop = loop %}
            {% for entry in group %}
            <li class="filters__filter filters__filter--{{ outer_loop.cycle('odd', 'even') }} js-filter" data-filter=".filter-{{ entry.tag|lower()|replace(" ", "-") }}">{{ entry.tag }}</li>
            {% endfor %}
        {% endfor %} 
    </ul>
</div>
