<section id="gallery" class="section">

    <div class="wall">
        <div class="wall__filters">
            {% include "partials/filters.html" %}
        </div>

        <div class="wall_grid">
            <div class="grid">
                {% include "partials/image_grid.html" %}
            </div>
        </div>
        
    </div>

    {% for entry in ctx["entries"] %}
    {% include "partials/carousel.html" %}
    {% endfor %} 
</section>
