<section id="infos" class="section">
    <div class="infos">
        <div class="infos__practical">
            <ul style="position: sticky; top: 0;">
                <li>Graphisme</li>
                <li>Photographie</li>
                <li>Images Plurielles</li>
                <address>
                    Av. jean-François Debecker, 10<br>
                    1&thinsp;200 Bruxelles
                </address>

                <ul>
                    <li>Peinture</li>
                </ul>
                <address>
                    La Médiatine<br>
                    Allée Pierre Lévie, 1<br>
                    1&thinsp;200 Bruxelles
                </address>
        </div>

        <div class="infos__main">
            <p class="infos__dates">18-19.03.2022<br>
            11:00 – 19:00</p>
            <div class="infos__content">
                <p>Depuis plus de 50 ans, l’ESA LE 75 est un lieu de formation, de recherche et de création de l’Image qui vise à développer les outils de la critique pour une production artistique libre, autonome, ouverte au doute, au débat contradictoire. La formation qu’elle propose s’adresse aussi bien à des étudiant·e·s entrants dans le supérieur qu’à celles et ceux qui sont à la recherche d’une spécialisation artistique.</p>
                <p>Photographie, Images Plurielles, Graphisme, Peinture mais aussi Pôle Édition et Printlab sont autant de Portes que nous vous invitons à franchir. Deux jours de découvertes et d’activités : présentation de l’école et des ateliers, expositions en ligne, échange avec les étudiant·e·s et bien d’autres événements…</p>
                <p><a href="http://leseptantecinq.be/blogphoto/" target="_blank">L’atelier Photographie</a> est ouvert à toutes les dimensions du médium. Elle privilégie une vision d’auteur centrée sur la création plastique en tant que langage et le documentaire en tant qu’interrogation du monde.</p>
                <p><a href="http://leseptantecinq.be/blogpeinture/" target="_blank">L’atelier Peinture</a> est un espace d’exploration pluridisciplinaire qui offre à l’étudiant·e l’opportunité de porter de l’intérêt à l’égard de ses ressources personnelles et de l’héritage de l’art contemporain ainsi que de cultiver sa curiosité à travers les formes artistiques les plus diverses.</p>
                <p><a href="https://www.instagram.com/images_plurielles_75" target="_blank">L’atelier d’Images Plurielles</a> est un lieu d’apprentissage et de création d’images où les techniques d’impression anciennes et contemporaines dialoguent, se complètent et s’augmentent.</p>
                <p><a href="https://www.instagram.com/esale75_graphisme" target="_blank">L’atelier de Graphisme</a> propose une approche multimodale de la discipline permettant l’expérimentation de ses différents supports, outils, formes et idées tout au long du cursus de 3 ans. Simultanément, l’atelier invite les étudiant·e·s à porter un regard critique sur notre société en interrogeant ce que veut dire être graphiste aujourd’hui.</p>
            </div>
        </div>

    </div>
</section>
