/* ==========================================================================
   Variables
   ========================================================================== */

:root {
  --bg-color: white;
  --fg-color: black;
  --indent: 1vw;
  --grid-color: cyan;
  --gap: 24px;
}

/* ==========================================================================
   helpers
   ========================================================================== */

/* ==========================================================================
   Fonts
   ========================================================================== */

   @font-face {
     font-family: 'Ductusmono-jpo75';
     src: url('../fonts/ductus/jpo75ductusmonoregular-webfont.woff') format('woff'), url('../fonts/ductus/jpo75ductusmonoregular-webfont.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'Ductus';
     src: url('../fonts/ductus/webfonts/DuctusRegular.woff') format('woff'), url('../fonts/ductus/webfonts/DuctusRegular.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
   }



/* ==========================================================================
   General
   ========================================================================== */

:root {
  font-size: 18px;
  line-height: 25px;
}

html,
body {
  width:100vw;
  overflow-x: hidden;
 }

body {
  font-family: 'Ductusmono-jpo75';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.015em;
  scroll-behavior: smooth;
  text-transform: uppercase;

}

a {
  color: black;
  text-decoration: none;
}

a[href^="http"]::after {
    content: " ↗";
}

 a:hover {
}

/* ==========================================================================
   Main layout
   ========================================================================== */


.images-collages{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.images-collages img{
  width: 20vw;
  height:auto;
  position: absolute;
}
.images-collages .banner{
  width: 100%;
  top:0;
  right: 0;
}
.images-collages .b{
  top: 75vh;
  left: 0vw;
  position: absolute;

}
.images-collages .d{
  top: 20vh;
  left: 0vw;
  position: absolute;
  width: 40vw;

}
.images-collages .c{
  top: 180vh;
  left: 85vw;
  position: absolute;
}
.images-collages .f{
  top: 110vh;
  left: -10vw;
  position: absolute;
}
.images-collages .g{
  top: 55vh;
  left: 40vw;
  position: absolute;
}
.images-collages .h{
  top: 150vh;
  left: 0vw;
  position: absolute;
}
.images-collages .i{
  top: 200vh;
  left: 70vw;
  position: absolute;
  }
.images-collages .j{
  top: 125vh;
  left: 80vw;
  position: absolute;
}
.images-collages .k{
  top: 200vh;
  left: -10vw;
  position: absolute;
}
.images-collages .bas{
  top:180vh;
  left:30vw;
  transform: rotate(-90deg);
}
.images-collages .m{
  top:320vh;
  left:80vw;
}
.images-collages .n{
  top:300vh;
  left:0vw;
}
.images-collages .z{
  top: 285vh;
  left: 70vw;
}
@media (max-width: 768px) {
  .images-collages img{
    width: 50vw;
  }
  .images-collages .banner{
    width: 100%;
  }
  .images-collages .g {
    top: 35vh;
    left: 80vw;
    position: absolute;
  }
  .images-collages .b {
    top: 55vh;
    left: -30vw;
    width: 60%;
  }
  .images-collages .f {
  top: 80vh;
  left: 0vw;
  position: absolute;
  }
  .images-collages .h {
  top: 135vh;
  left: -15vw;
  position: absolute;
  }
  .images-collages .j {
    top: 178vh;
    left: 10vw;
    position: absolute;
  }
  .images-collages .i {
    top: 180vh;
    left: 45vw;
    position: absolute;
  }
  .images-collages .z {
    top: 185vh;
    left: -25vw;
  }
  .images-collages .k {
    top: 255vh;
    left: -20vw;
    position: absolute;
    transform: rotate(90deg);
  }
  .images-collages .n {
    top: 280vh;
    left: -25vw;
  }
}

.page__wrapper {
  z-index: 1;
  height: auto;
  padding: 0;
  scroll-behavior: smooth;
}


.page__main { position: relative; margin-bottom: 96px;}

.main-header {
  text-transform: uppercase;
  line-height: normal;
}

.main-header__title {
  position: absolute;
  left: 40vw;
  font-size: 3.4vw;
  top: 20vh;
  border-radius: 20%;
  padding: 2%;
  background: white;
}

@media (max-width: 768px) {
  .main-header__title {
    position: absolute;
    left: 15vw;
    font-size: 6.5vw;
    line-height: 8vw;
    top: 8vh;

  }
}
.main-header__tagline {
  left: 55vw;
  top: 50vh;
  position: absolute;
  background: white;
  border-radius: 50%;
  padding: 3%;
}
@media (max-width: 768px) {
  .main-header__tagline {
    top: 30vh;
    left: 35vw;
    font-size: 16px;
  }
}

.main-nav {
  text-transform: uppercase;
  position: fixed;
  bottom: 0vh;
  display: block;
  z-index: 1;


}
.main-nav ul {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100vw;
}
.main-nav ul li{
  background: white;
  width: auto;
  padding: 1%;
  color: black;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
}
.main-nav ul li a:hover{
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 50%;
}
/* @media (max-width: 767px) {
  .sidebar {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 24px;
  }
} */

.sidebar {
  position: sticky;
  top: 0;
}


/* ==========================================================================
   Sections
   ========================================================================== */

.section {
  box-sizing: border-box;
  width: auto;
}

.section + .section {
  margin-top: 25vh;
  padding-left: 10vw;
}


/* ==========================================================================
   Section info
   ========================================================================== */
  .infos {
    margin: 0;
  }

.infos__practical {
  position: absolute;
  top: -45vh;
  left: 70vw;
  background: white;
  border-radius: 50%;
  padding: 3%;
}

.infos__dates {
  position: absolute;
  top: -40vh;
  left: 25vw;
  background: white;
  border-radius: 50%;
  padding: 3%;
}
@media (max-width: 768px) {
  .infos{
     font-size: 16px;
  }
  .infos__practical {
    left: 50vw;
    top: -55vh;

  }
  .infos__dates {
    left: 5vw;
    top: -70vh;
  }
}


address { padding-left: var(--indent); }

/* @media (max-width: 900px) {
  .infos__content p {
} */

.infos__content{
  position: relative;
  margin-top: 110vh;
  padding-left: 20vw;
}
.infos__content p {
  width: 35vw;
  min-width: 350px;
  padding-top: var(--indent);
  margin-top: 15vh;
  background: white;
  border-radius: 20%;
  padding: 5%;
  text-transform: none !important;
 }
@media (max-width: 768px) {
  .infos__content{
    font-size: 12px;
    line-height: normal;
  }
  .infos__content p {
    min-width: 65vw;

   }
}

 .infos__content p:nth-of-type(odd) {
    padding-left: 5vw;
    margin-top: 25vh;
    background: white;
    border-radius: 30%;
    padding: 3%;
 }
.infos__content a {
  border-radius: 50%;
  padding: 2px;
  font-family: 'Ductusmono-jpo75';
  border-bottom: 1px solid black;

 }

.infos__content a:hover {
  border-bottom: 1px solid;
  border-radius: 50%;
  padding: 2px;
  background-color: #d5f300;
  background-image: linear-gradient(75deg,  grey, coral,#d5f300);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.infos__content a:after { content: " ↗"; }

/* ==========================================================================
   Section gallery
   ========================================================================== */

@media (min-width: 1200px) {
  .wall {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 24px;
  }
}
  .filters-wrapper ul li {
    border-bottom: 1px solid transparent;
    border-left: 1px solid;
    border-right: 1px solid transparent;
    border-radius: 50%;
    padding:2%;
    text-align: center;
  }
  .filters-wrapper ul li:hover{
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
  }
/* } */

/* @media (max-width: 1199px) { */
  .filters {
    column-width: 116px;
    column-gap: 24px;
  }
/* } */

.filters { margin-bottom: 48px; }

.is-active { color: var(--fg-color); }

.filters li:hover {
  color: var(--fg-color);
  cursor: pointer;
}

.filters__filter--even { padding-left: var(--indent); }

.grid {
  position: sticky !important;
  top: 1rem;
}

.grid-item {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.grid-item a:hover img { outline: 3px solid var(--fg-color); }
/* ==========================================================================
   Modal and slideshow
   ========================================================================== */

@keyframes show_details {
  from { left: 100vw; }
  to { left: 0; }
}
.modal {
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  bottom: 0;
  left: 100vw;
  animation-name: show_details;
  animation-duration: 1s;
  box-sizing: border-box;
  z-index: 1;
  padding: 24px;
  /* grid-template-rows: auto 1fr; */
  /* grid-row-gap: 24px; */
}
.modal:target {
  display: grid;
  left: 0;
}

.modal__tools {
  color: white;
  text-align: right;
}

.modal__content {
  width: 100%;
  overflow: hidden;
}

.carousel {
  height: 100%;
  width: 100%;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  color: black;
}

.carousel-cell img {
  height: calc(100% - 48px);
  width: 100%;
  object-fit: contain;
  margin-bottom: 20vh;
}

.carousel-cell figcaption {
  position: absolute;
  background-color: white;

  bottom: 0;
  color: black;
  text-align: right;
  width: 100%;
}
