<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Journées Portes Ouvertes 2022. École supérieure des arts de l'image Le Septantecinq</title>

        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">

        <link rel="stylesheet" href="static/css/reset.css" type="text/css">
        <link rel="stylesheet" href="static/css/flickity.min.css">
        <link rel="stylesheet" href="static/css/main.css" type="text/css">
    </head>
    <body class="page baseline">
        <div class="page__background"></div>
        <img class="page__star" src="static/img/etoile.gif" alt="etoile"/>

        <div class="page__wrapper">
            <div class="page__sidebar">
                <div class="sidebar">
                    <header class="sidebar__header main-header">
                        <h1 class="main-header__title">Journées <br>Portes Ouvertes</h1>
                        <p class="main-header__tagline">École supérieure <br>des arts de l'image <br>Le Septantecinq<p>
                    </header>

                    <nav class="sidebar__nav main-nav">
                        <ul class="main-nav__list">
                            <li class="main-nav__item"><a class="main-nav__link" href="#infos">Infos</a></li>
                            <li class="main-nav__item"><a class="main-nav__link" href="#gallery">Galerie</a></li>
                            <li class="main-nav__item"><a class="main-nav__link" href="#capsules">Capsules</a></li>
                            <li class="main-nav__item"><a class="main-nav__link" target="_blank" href="https://leseptantecinq.be/fr/infos-pratiques/inscriptions/">Inscription</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <main class="page__main main">
                {% include "partials/infos.html" %}
                {% include "partials/gallery.html" %}
                <!-- {% include "partials/capsules.html" %} -->
            </main>
        </div>

        <script src="static/js/isotope.min.js"></script>
        <script src="static/js/lazysizes.min.js" async=""></script>
        <script src="static/js/flickity.pkgd.min.js"></script>
        <script src="static/js/fit-columns.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>
