<div class="modal" id="entry_{{entry.meta.uuid}}">
    <div class="modal__tools">
        <a href="#gallery">Fermer</a>
    </div>

    <div class="modal__content">
        <div class="carousel">
            {% for image in entry["images"] %}
            <figure class="carousel-cell">
                <img
                    data-srcset="{{ image.versions.small }} 600w,
                        {{ image.versions.medium }} 900w,
                        {{ image.versions.large }} 1600w"
                    data-src="{{ image.versions.small }}"
                    class="lazyload" alt=""/>
                <figcaption>{{ image.description }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </div>
</div>
