<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0, user-scalable=yes"/>
        <title>Journées Portes Ouvertes 2023 - École supérieure des arts de l'image Le Septantecinq</title>

        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">

        <link rel="stylesheet" href="static/css/reset.css" type="text/css">
        <link rel="stylesheet" href="static/css/flickity.min.css">
        <link rel="stylesheet" href="static/css/main.css" type="text/css">
    </head>
    <body>
        <div class="images-collages">
          <img class="banner" src="static/img/banner.png" alt="">
          <img class="b" src="static/img/b.png" alt="">
          <img class="d" src="static/img/d.png" alt="">
          <img class="c" src="static/img/k.png" alt="">
          <img class="f" src="static/img/f.png" alt="">
          <img class="g" src="static/img/g.png" alt="">
          <img class="h" src="static/img/h.png" alt="">
          <img class="i" src="static/img/i.png" alt="">
          <img class="j" src="static/img/j.png" alt="">
          <img class="k" src="static/img/k.png" alt="">
          <img class="m" src="static/img/h.png" alt="">
          <img class="n" src="static/img/f.png" alt="">
          <img class="z" src="static/img/g.png" alt="">
        </div>
        <div class="page__wrapper">
          <header class="main-header">
              <h1 class="main-header__title">Journées <br>Portes Ouvertes</h1>
              <p class="main-header__tagline">École supérieure <br>des arts de l'image Le 75<p>
          </header>
          <nav class="sidebar__nav main-nav">
              <ul class="main-nav__list">
                  <li class="main-nav__item"><a class="main-nav__link" href="#">↑</a></li>
                  <li class="main-nav__item"><a class="main-nav__link" href="#infos">Infos</a></li>
                  <li class="main-nav__item"><a class="main-nav__link" href="#gallery">Galerie</a></li>
                  <li class="main-nav__item"><a class="main-nav__link" target="_blank" href="https://leseptantecinq.be/fr/infos-pratiques/inscriptions/">Inscription</a></li>
              </ul>
          </nav>
          <main class="page__main main">
            {% include "partials/infos.html" %}
            {% include "partials/gallery.html" %}
          </main>
      </div>

        <script src="static/js/isotope.min.js"></script>
        <script src="static/js/lazysizes.min.js" async=""></script>
        <script src="static/js/flickity.pkgd.min.js"></script>
        <script src="static/js/fit-columns.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>
