<section id="capsules" class="section">
    <div class="videos">
        {% with id="KGAIki74cCY", caption="Atelier Photographie 1/2"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="pL7cvKFwux8", caption="Atelier Photographie 2/2"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="H6Tuh4Q0w-I", caption="Atelier photo (cours de chambre photographique)"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="reLO3bUX6-s", caption="Atelier Peinture (Exposition à Atoma) 1/2"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="jJ_FzxswwMI", caption="Atelier Peinture (Exposition à Atoma) 2/2"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="z1jtOOBJM5k", caption="Atelier Peinture (Workshop mise en exposition) 1/2"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="Y6i0WWPFhoU", caption="Atelier Peinture (Workshop mise en exposition) 2/2"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="srniHMnTta4", caption="Atelier Graphisme"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="J8QLmr6AUKQ", caption="Atelier Reliure"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="5yibzhjAlqE", caption="Atelier Images Plurielles (sérigraphie)"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="goT7imlAl-Y", caption="Atelier Images plurielles (risographie)"  %}
        {% include "partials/video.html" %}
        {% endwith %}

        {% with id="fIMt6F_DHrM", caption="Atelier Images plurielles (gravure)"  %}
        {% include "partials/video.html" %}
        {% endwith %}
    </div>
</section>
