{% for entry in ctx["entries"] %}
<figure class="grid-item{% for keyword in entry.meta.keywords %} filter-{{ keyword|lower()|replace(" ", "-") }}{% endfor %}" style="width: {{ entry.thumb.width }}px; height: {{ entry.thumb.height }}px">
        <a href="#entry_{{entry.meta.uuid}}">
        <img data-src="./{{ entry.thumb.src }}" width="{{ entry.thumb.width }}" height="{{ entry.thumb.height }}" class="lazyload" style="background: {{ entry.thumb.dominant }}" alt=""/>
        </a>
    </figure>
{% endfor %} 
