<figure class="videos__video video">
    <video style="outline:none;width:100%;background-color:#000" playsinline="playsinline" poster="https://yewtu.be/vi/{{ id }}/maxres.jpg" tabindex="-1" preload="metadata" src="https://yewtu.be/latest_version?id={{ id }}&amp;itag=22&amp;local=true" controls>
        <source src="https://yewtu.be/latest_version?id={{ id }}&amp;itag=22&amp;local=true" type="video/mp4; codecs=&quot;avc1.64001F, mp4a.40.2&quot;" label="hd720" selected="true">

        <source src="https://yewtu.be/latest_version?id={{ id }}&amp;itag=18&amp;local=true" type="video/mp4; codecs=&quot;avc1.42001E, mp4a.40.2&quot;" label="medium" selected="false">
    </video>
    <figcaption>{{ caption }}</figcaption>
</figure>
